<div class="topbar">
    <h2 style="color: white; text-align: center">My Page</h2>
</div>

<div style="text-align: center; color: red; padding-top: 5px" *ngIf="msg">
    <h1>{{msgBody}}</h1>
</div>

<div style="padding-top: 50px">

    <div class="box">
        <div class="row">
            <input type="text" placeholder="username.." [(ngModel)]="username" required>
        </div>
        <div class="row">
            <input type="password" placeholder="password.." [(ngModel)]="password" required>
        </div>
        <div class="row">
            <input type="password" placeholder="confirm password.." [(ngModel)]="confirm" required>
        </div>
    
        <div class="btn">
            <button (click)=check()>Sign up</button>
        </div>
       <div class="rst">
             <a  style="padding-left: 20px ; padding-top: 50px;font-size: 15px;
             font-family: sans-serif;color: rgb(71, 44, 226)"  
             (click)=goToPage()>Already have account?Sign in</a>
           <button class="reset" (click)=reset()>Reset</button>
       </div>
           
    
    </div>

</div>

